<header>
  <div class="header-logo">
    <!--トップページへのリンク-->
    <a href="/">TOP</a>
  </div>
  <ul class="header-logo">
    <li>
      <!--aboutページへのリンク-->
      <a href="/about">what?たぬき＞＞<a href="/more">moreたぬき＞＞</a></a>
    </li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <br>
    <br>
    <h2>日本のたぬき</h2>
    <p></p>
  </div>
</div>
